!!! Strict
%html
  %head
    %title API Documentation
    %script{ :type => "text/javascript", :src => "js/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "js/underscore.min.js" }
    %script{ :type => "text/javascript", :src => "js/backbone.min.js" }
    %script{ :type => "text/javascript", :src => "js/mustache.js" }
    %script{ :type => "text/javascript", :src => "js/app.js" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "css/app.css" }
  %body
    %ul#documentation

    %script{ :type => "text/x-mustache-template", :id => "mustache-resource" }
      .heading
        %h2="{{name}}"
      %ul.endpoints

    %script{ :type => "text/x-mustache-template", :id => "mustache-endpoint" }
      .heading.clearfix{ :class => "{{http_method}}" }
        .desc="{{description}}"
        .method="{{http_method}}"
        .path="{{path}}"
      .params{ :style => "display:none" }
        %form
          %input{ :type => "hidden", :name => "_path", :value => "{{path}}" }
          %input{ :type => "hidden", :name => "_http_method", :value => "{{http_method}}" }
          %h4 Parameters
          %table
            %colgroup{ :width => "20%" }
            %colgroup{ :width => "30%" }
            %colgroup{ :width => "50%" }
            %tr
              %th Parameter
              %th Value
              %th Description
          %p
            %input{ :type => "submit", :value => "Try it out" }
      .response

    %script{ :type => "text/x-mustache-template", :id => "mustache-param"}
      %td="{{name}}"
      %td.field
      %td="{{description}}"

    %script{ :type => "text/x-mustache-template", :id => "mustache-param-text"}
      %input{ :type => "text", :value => "", :name => "{{name}}", :size => "20" }

    %script{ :type => "text/x-mustache-template", :id => "mustache-param-select"}
      %select{ :name => "{{name}}" }
        = "{{#allowable_values}}"
        %option{ :name => "{{.}}", :value => "{{.}}" }
          = "{{.}}"
        = "{{/allowable_values}}"

    %script{ :type => "text/x-mustache-template", :id => "mustache-response"}
      .response-status="{{status_code}}"
      .response-headers
        %h4 Headers
        %ul
          = "{{#headers}}"
          %li.clearfix
            .key="{{key}}"
            .val="{{val}}"
          = "{{/headers}}"
      .response-body
        %h4 Response Body
        %div="{{body}}"
